.jumbotron {
    background-image: url("https://thenypost.files.wordpress.com/2019/03/old-library-book.jpg?quality=90&strip=all&w=618&h=410&crop=1");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    padding: 0rem 0rem;
  }